

/* Styling für das Kontaktformular */
.contact-section {
    padding: 10rem 9% 2rem;
    text-align: center;
}

form {
    max-width: 600px;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.input-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.input-box input, form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: 0.8rem;
    margin: 0.7rem 0;
}

form textarea {
    resize: none;
}